.overview-image {
    width: 80%;
    height: 12rem;
    margin: auto;
    border-radius: 0.8rem;
    box-shadow: 0px 2px 10px rgb(117, 117, 117);
}
.slick-center.slick-current{
    transform: scale(1.2);
    position: relative;
    /* margin-top: 10px; */
    transition: all 0.6s ease-in-out;
}
.carousel-icon{
    width: 30px;
}
.slick-list {
    padding-top: 100px;
    height: 400px !important;
    width: 100%;
}
.slick-slide {
    margin-top: 25px;
}
.slick-slider {
    height: 18em;
}
.slick-next:before, .slick-prev:before {
    font-size: 40px;
    color: black;    
}

button.slick-arrow.slick-prev {
    z-index: 1;
    width: 80px;
}
button.slick-arrow.slick-next {
    width: 80px;
}
