.card {
    padding: 4rem;
    background: #fff;
  }
  
  h1 {
    text-align: center;
  }
  
  .card-container {
    display: flex;
    flex-flow: column;
    align-items: center;
    max-width: 1120px;
    width: 90%;
    margin: 0 auto;
  }
  
  .card-wrapper {
    position: relative;
    margin: 50px 0 45px;
  }
  
  .card-item {
    margin-bottom: 24px;
  }
  
  .card-item {
    display: flex;
    flex: 1;
    margin: 0 1rem;
    border-radius: 10px;
  }
  
  .card-item-link {
    display: flex;
    flex-flow: column;
    width: 100% !important;
    /* min-width: 10em; */
    box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
    -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
    filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
    border-radius: 1rem;
    overflow: hidden;
    text-decoration: none;
    background: whitesmoke;
  }
  
  .card-item-pic {
    position: relative;
    width: 100%;
    padding-top: 67%;
    overflow: hidden;
  }
  
  /* .fade-img {
    animation-name: fade-img;
    animation-duration: 2s;
  } */
  
  .card-item-pic::after {
    content: attr(data-label);
    position: absolute;
    bottom: 0;
    left: 15px;
    border-top-left-radius: 15px;
    padding: 6px 8px;
    max-width: calc((100%) - 60px);
    font-size: 12px;
    font-weight: 700;
    color: #fff;
    background-color: var(--blue-1);
  }
  
  .card-item-img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 0.2s linear;
  }
  
  .card-item-img:hover {
    transform: scale(1.1);
  }
  
  .card-item-info {
    padding: 12px 20px 20px;
  }
  
  .card-item-text {
    color: #252e48;
    font-size: 18px;
    line-height: 24px;
  }
/*   
  @media only screen and (min-width: 1200px) {
    .content-blog-container {
      width: 84%;
    }
  }
  
  @media only screen and (min-width: 1024px) {
    .card-item {
      display: flex;
    }
  }
  
  @media only screen and (max-width: 1024px) {
    .card-item {
      margin-bottom: 2rem;
    }
  } */
  