:root{
  --primary: white;
  --dark-grey: rgb(43, 43, 43);
  --gold-0 : #f89825;
  --gold-1 : #fbb040;
  --red : #e94235;
  --blue-1 : #2899d5;
  --blue-0 : #0065a2;
  --blue-2 : #232745;
}
.text-gold {
  color: var(--gold-1);
}
.App {
  overflow-x: clip;
  background-color: var(--blue-2);
}

i.fas.fa-code {
  font-size: 34px;
}

.icon-fa {
  font-size: 40px;
  margin: 7px;
}
.fab.fa-php:hover{
  color: orange;
}

p {
  font-size: 18px;
  color: var(--primary);
}