:root{
  --primary: white;
  --dark-grey: rgb(43, 43, 43);
  --gold-0 : #f89825;
  --gold-1 : #fbb040;
  --red : #e94235;
  --blue-1 : #2899d5;
  --blue-3 : #62bdee;
  --blue-0 : #0065a2;
  --blue-2 : #232745;
}
.text-gold {
  color: var(--gold-1);
}
.text-blue {
  color: var(--blue-3);
}
.btn-info {
  background-color: #4ac8c2;
  color: white;
  font-weight: bold;
  font-size: 18px;
}
.form-control, .form-select {
  border-radius: 20px;
  box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
}
.btn-warning {
  background-color: #ffc403;
  font-weight: 500;
  color: rgb(44, 44, 44);
  /* font-size: 15px; */
}
a {
  text-decoration: none;
}
.App {
  /* font-family: "sans-serif", "times", monospace; */
  overflow-x: clip;
  background: rgb(35,39,69);
  background: -moz-linear-gradient(90deg, rgba(35,39,69,1) 0%, rgba(38,43,80,1) 52%, rgba(26,79,127,1) 100%);
  background: -webkit-linear-gradient(90deg, rgba(35,39,69,1) 0%, rgba(38,43,80,1) 52%, rgba(26,79,127,1) 100%);
  background: linear-gradient(90deg, rgba(35,39,69,1) 0%, rgba(38,43,80,1) 52%, rgba(26,79,127,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#232745",endColorstr="#1a4f7f",GradientType=1);
}

i.fas.fa-code {
  font-size: 34px;
}

.icon-fa {
  font-size: 40px;
  margin: 7px;
}
.icon-fa:hover {
  cursor: help;
}

.scroll-x {
  overflow: auto;
  border-radius: 1.5rem;
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
}

.scroll-x::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

p {
  font-size: 18px;
  color: var(--primary);
}

div > ul {
  font-size: 18px;
}

.loading {
  width: 35px;
}

.bg-transparent-custom {
  background: rgba(255, 255, 255, 0.15);
  color: white;
  padding: 1.5rem;
  border-radius: 2rem;
}

.text-muted-1 {
  color: rgb(185, 185, 185);
}