.intro-section {
    height: 350px;
    /* width: 100%; */
    background: var(--blue-1);
}
.intro-section-bottom {
    height: 0;
    width: 0;
    margin-top: -5px;
    border-top: 80px solid var(--blue-1);;
    border-right: 100vw solid transparent;
}

.row h4{
    width: auto;
}

.btn:hover > .fas.fa-location-arrow {
    /* transition: all 0.3s linear; */
    /* transform: rotate(40deg);
    margin-left: 10px; */
    position: relative;
    animation-name: transform;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
}

.fas.fa-location-arrow {
    animation-name: reverse;
    animation-duration: 0.2s;
}

@keyframes transform {
    from {
        margin-left: 0px;
        transform: rotate(0deg);
    }
    to {
        margin-left: 10px;
        transform: rotate(40deg);
    }
}
  
@keyframes reverse {
    from {
        margin-left: 10px;
        transform: rotate(40deg);
    }
    to {
        margin-left: 0px;
        transform: rotate(0deg);
    }
}

.intro-title-name {
    /* color: var(--gold-0); */
    /* position: absolute; */
    width: 500px;
    /* height: 200px; */
    background: rgba(255, 255, 255, 0.5);
    left: 10vw;
    top: 20vh;
    z-index: 1;
    border-radius: 1rem;
    border-bottom-right-radius: 5rem;
    border-top-left-radius: 5rem;
    padding: 15px;
}

.intro-title-name h4 {
    font-weight: bolder;
    font-size: 40px;
}

.intro-img {
    margin: auto;
    height: 13rem;
    margin-top: auto;
}