/* .header {
    margin-top: 50px;
} */
@media screen and (max-width: 768px) {
    .header {
        margin-top: 100px;
    }    
}
@media screen and (max-width: 990px) {
    .header {
        margin-top: 150px;
    }    
}

.about-img {
    height: 14rem;
    padding: 20px;
    margin: auto;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0px 4px 20px rgb(63, 63, 63);
    border-radius: 1rem;
    border-top-left-radius: 4rem;
    border-bottom-right-radius: 4rem;
}